<a>Sport :</a>
{{#each listSport}}
<a href="sports/{{_id}}/athletes"><li>{{name}}</li></a>
{{/each}}

{{#each listAthleteBySport}}
    <li>{{this.firstName}} {{this.lastName}}</li>
{{/each}}

<br>

<!-- ajouter nouveau Sport -->
<form action="createSports" method="POST">
    <a>Ajouter un sport : </a><br>
    <input type="text" placeholder="Sport name" name="name">
    <button type="submit">Submit</button>
</form>

<!-- ajouter nouvel Athletes dans un Sport 
<form action="addAthleteInSports" method="POST">
    <a>Ajouter un Athletes : </a><br>
    <input type="text" placeholder="Athlete name" name="Athlete name">

    <a>Sport :</a>
    <select name="sportName">
        {{#each listSport}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
    </select>
    <button type="submit">Ajouter Athlete</button>
</form> -->

<!-- ajouter Athletes existant dans un Sport -->
<form action="addAthleteInSports" method="POST">

    <a>Ajouter un Athletes dans un sport: </a><br>
    <select name="AthleteName">
        {{#each listAthlete}}
        <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <a>Sport :</a>
    <select name="sportName">
        {{#each listSport}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <button type="submit">Ajouter Athlete</button>
</form>